**/__pycache__
.idea
.mypy_cache

dump\.rdb
backend/restful_service/nis_local.conf
backend/restful_service/nis_docker_protagoras.conf
backend/restful_service/nis_local_sqlite.conf
backend/restful_service/nis_docker_local.conf
backend/restful_service/nis_docker_naples.conf
install.sh
Input Output entites of each command.gdsheet
strategy.ini
backend/ie_imports/experimental/UN Comtrade Country List.csv
backend/ie_imports/experimental/country_alternative_names.csv
backend/ie_imports/experimental/saved_queries.csv
backend/ie_imports/experimental/0.csv
frontend/
magic_box/