**/__pycache__
.idea
.mypy_cache
/venv/

build/
dist/
nexinfosys_backend.egg-info/
nexinfosys.egg-info/
dump\.rdb
nexinfosys/restful_service/nis_local.conf
nexinfosys/restful_service/nis_docker_protagoras.conf
nexinfosys/restful_service/nis_local_sqlite.conf
nexinfosys/restful_service/nis_docker_local.conf
nexinfosys/restful_service/nis_docker_naples.conf
install.sh
Input Output entites of each command.gdsheet
strategy.ini
nexinfosys/ie_imports/experimental/UN Comtrade Country List.csv
nexinfosys/ie_imports/experimental/country_alternative_names.csv
nexinfosys/ie_imports/experimental/saved_queries.csv
nexinfosys/ie_imports/experimental/0.csv
magic_box/
/nexinfosys/restful_service/credentials.json
/nexinfosys/restful_service/token.pickle

~/nis_data/fadn/measures.csv

/nexinfosys/restful_service/tmp_nis_backend_redislite.db

/nexinfosys/restful_service/tmp_nis_backend_redislite.db.settings
/nexinfosys/restful_service/nis_metadata.db

nexinfosys/restful_service/flask_session/
nexinfosys/frontend/assets/animal
nexinfosys/frontend/assets/fill
nexinfosys/frontend/assets/twotone
nexinfosys/frontend/assets/outline
