pandas==0.21.0
typing==3.6.2
chardet==3.0.4
Pint==0.8.1
regex==2017.9.23
Werkzeug==0.12.2
multidict==3.3.2
cubes==1.1
numpy==1.13.3
xlrd==1.1.0
matplotlib==2.1.0rc1
xmltodict==0.11.0
openpyxl==2.5.0b1
requests==2.18.4
pyparsing==2.2.0
pandaSDMX==0.7.0
Flask==0.12.2
Flask_Session==0.3.1
Flask_Cors==3.0.3
pymonetdb==1.1.1
aadict==0.2.3
psycopg2==2.7.3.2
sqlalchemy_monetdb==0.9.3
requests_cache==0.4.13
anytree==2.2.2
python_magic==0.4.13
SQLAlchemy==1.2.0b3
redis
jsonpickle==0.9.5
